<!DOCTYPE html>
<html lang="en">
<head>
    {% if GOOGLE_ANALYTICS_ID %}
    <!-- Cookie Consent Modal -->
    <div id="cookieConsentModal" style="display: none; position: fixed; left: 0; right: 0; bottom: 0; width: 100%; background-color: white; padding: 10px; text-align: center; z-index: 1000;">
        <p>This website uses cookies to ensure you get the best experience on our website. <a href="/about.html">Learn More</a></p>
        <button onclick="acceptCookies()">Accept</button>
        <button onclick="declineCookies()">Decline</button>
    </div>
    <!-- Google Analytics Script -->
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ GOOGLE_ANALYTICS_ID }}"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }

        function initializeGoogleAnalytics() {
            gtag('js', new Date());
            gtag('config', '{{ GOOGLE_ANALYTICS_ID }}');
        }

        // Cookie consent functions
        function acceptCookies() {
            localStorage.setItem('cookieConsent', 'true');
            document.getElementById('cookieConsentModal').style.display = 'none';
            initializeGoogleAnalytics();
        }

        function declineCookies() {
            localStorage.setItem('cookieConsent', 'false');
            document.getElementById('cookieConsentModal').style.display = 'none';
        }

        // Check for existing cookie consent
        window.addEventListener("load", function() {
            var consent = localStorage.getItem('cookieConsent');
            if (consent === 'true') {
                initializeGoogleAnalytics();
            } else if (consent !== 'false') {
                document.getElementById('cookieConsentModal').style.display = 'block';
            }
        });
    </script>
{% endif %}


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.1/cookieconsent.min.css" />

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"> <!-- Ensure this line is present -->

    <title>{% block title %}Financials{% endblock title %}</title>

    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    {% block extra_css %}
    <style>
    @media only screen and (max-width: 768px) {
        .post-content { font-size: 16px; }
        h2 { font-size: 20px; }
        /* Add more responsive styles as needed */
    }
    </style>
    {% endblock extra_css %}
    <style>
        /* Custom styles for the navbar toggler */
        .navbar-toggler {
            border-color: rgba(0,0,0,.1); /* Add border color for the button if you like */
        }

        /* Custom styles for the navbar toggler icon */
        .navbar-toggler-icon {
            background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
        }

        /* Ensure the toggle button is visible against the navbar by setting a contrasting color */
        .navbar-light .navbar-toggler {
            color: #fff;
            border-color: #fff; /* Adjust the border color to ensure visibility */
        }
    </style>
<style>
    .sticky-footer {
      position: relative;
      width: 100%;
    }
  </style>
</head>
<body>
       <!-- Bootstrap Navbar -->
       <nav class="navbar navbar-expand-lg navbar-light bg-light modern-blue">
        <!-- ... -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'income-statement' 'AAPL' %}">Income Statement</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'post_list' %}">Blog</a>
            </li>
            {% if user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'earnings-estimates' %}">Estimates</a>
            </li>
            {% endif %}

            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'watched_stocks_list' %}">Watched Stocks List</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'financial_ratios' %}">Financial Ratios</a>
            </li>
            <!-- Login Button (only if user is not logged in) -->
            {% if not user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'login' %}">Login</a>
            </li>
            {% endif %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'about' %}">About</a>
            </li>
            <!-- New Portfolio Links (only visible to logged-in users) -->
            {% if user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'portfolio_list' %}">Portfolios</a>
            </li>
            <!-- Logout Button -->
            <li class="nav-item">
                <form method="post" action="{% url 'logout' %}" style="display: inline;">
                    {% csrf_token %}
                    <button type="submit" class="btn nav-link">Logout</button>
                </form>
            </li>
            {% endif %}
        </ul>
    </div>
</nav>

    <!-- Main Content -->
    {% block content %}{% endblock content %}

    {% block footer %}
<!-- Footer -->

<footer class="modern-blue text-center text-lg-start sticky-footer">
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2023 Python and Finance Hub:
    <a class="text-dark" href="#">pythonfinancehub.com</a>
  </div>
</footer>

{% endblock %}

<!-- Cookie consent and conditional Google Analytics loading -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.1/cookieconsent.min.js"></script>


   
    <!-- Bootstrap JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.25.0/themes/prism.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.25.0/prism.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.25.0/plugins/autoloader/prism-autoloader.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.1/cookieconsent.min.js"></script>
    <!-- Cookie consent -->




    {% block extra_js %}{% endblock extra_js %}

</body>
</html>