{% extends 'financials/base.html' %}

{% block content %}
<style>
    .post-image {
        width: 100%;
        height: 300px;
        object-fit: cover;
    }
</style>
<div class="container mt-4">
    <div class="row">
        <!-- Main content area -->
        <div class="col-md-8">
            <h2>All Posts</h2>
            <ul class="list-unstyled">
                {% for post in posts %}
                <div class="mb-4">
                    <a href="{% url 'post_detail' post.id %}" class="text-decoration-none">
                        <h5>{{ post.title }}</h5>
                    </a>
                    <small>By {{ post.author }} on {{ post.created_at|date:"F d, Y" }}</small>
                    {% if post.img_url %}
                        <img src="{{ post.img_url }}" alt="{{ post.title }}" class="img-fluid post-image mb-3">
                        <p>{{ post.first_paragraph }}</p>
                    {% endif %}
                </div>
                {% endfor %}
            </ul>
        </div>
        <!-- Sidebar for blog sections -->
        <div class="col-md-4">
            <div class="sidebar bg-light border-left pl-4">
                <h5 class="mt-0 text-primary">Blog Sections</h5>
                <ul class="list-unstyled">
                    <li class="text-dark dropdown-toggle">
                        <a href="#">Retrieving Financial Data with Python</a>
                        <ul class="dropdown-menu" style="display: none; position: absolute;">
                            <li class="text-muted">
                                <a href="#">Extracting Fundamental Financial Data with Python</a>
                            </li>
                            <li class="text-muted">
                                <a href="#">Gathering Economic Indicators with Python</a>
                            </li>
                        </ul>
                    </li>
                    <li class="text-dark dropdown-toggle">
                        <a href="#">Analyzing and Visualizing Financial Data with Python</a>
                        <ul class="dropdown-menu" style="display: none; position: absolute;">
                            <li class="text-muted">
                                <a href="#">Creating Financial Data Visualizations with Python</a>
                            </li>
                            <li class="text-muted">
                                <a href="#">Creating Financial Dashboards and Applications with Python</a>
                            </li>
                        </ul>
                    </li>
                    <li class="text-dark">
                        <a href="#">Machine Learning with Python</a>
                    </li>
                </ul>
            </div>
        </div>
        
        
    </div>
</div>

<script>
    // Add JavaScript code to toggle dropdown menus
    const dropdownToggles = document.querySelectorAll('.dropdown-toggle');

    for (const toggle of dropdownToggles) {
        toggle.addEventListener('click', () => {
            const dropdownMenu = toggle.nextElementSibling;
            dropdownMenu.style.display = dropdownMenu.style.display === 'none' ? 'block' : 'none';
        });
    }
</script>
{% endblock %}